@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}
header {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > a {
  border-radius: 28px;
  text-decoration: none;
  padding: 16px 32px;
  background-color: #13183f;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
main {
  padding: 64px 160px 144px 160px;
}
.top-section {
  display: flex;
  padding-top: 110px;
  margin-bottom: 238px;
}
.left-side {
  min-height: 100px;
  width: 50%;
}
.left-side > h2 {
  font-weight: 800;
  font-size: 56px;
  color: #13183f;
  line-height: 67px;
  max-width: 457px;
}
.left-side > p {
  margin-top: 24px;
  color: #83869a;
  font-weight: 500;
  line-height: 27px;
  font-size: 18px;
  width: 457px;
  margin-bottom: 40px;
}
.left-side > a {
  border-radius: 28px;
  padding: 16px 32px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  text-decoration: none;
  display: inline-block;
}
.right-side {
  min-height: 100px;
  width: 50%;
}
.right-side > img {
  position: absolute;
  top: -150px;
  right: -350px;
}
.bot-section {
  min-height: 100px;
}
